* {
  color: white;
}

/* NavBar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.title {
  font-size: 1.5em;
}

.options {
  display: flex;
  gap: 15px;
}

.navbar button,
select {
  width: 130px;
  background-color: #376ec6;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.navbar label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BarsContainer Styles */

.barsContainer {
  display: flex;
  justify-content: center;
}

.bar {
  width: 0px;
  padding: 2px;
  background-color: aqua;
  border: 2px solid rgba(0, 0, 0, 0.807);
  border-radius: 2px;
  color: black;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
